body {
    background-color: #efefef;
}
p {
    text-align: center;
    padding-top: 200px;
    font-size: 25px;
    line-height: 1.5;
}

// スマホの時だけ改行させるクラス
.br-sp {
    display: none;
}

@media (max-width: 600px) {
    .br-sp {
        display: block;
    }
}
